---
title: Tutorials & Quickstarts
---
<h1> Tutorials and Quickstarts</h1>

<br>
<div class="card">
  <h3 class="card-header"><%=link_to 'Quickstarts', 'https://github.com/ruby-hyperloop/quickstart'%></h3>
  <div class="card-block">
    <p>Clone the repo and you will have everything you need to get up and runnign quickly. Each quickstart branch contains the source of a working application.</p>
    <ul>
      <li>HyperReact and Rails Quickstart</li>
      <li>HyperReact, NPM and Webpack Quickstart</li>
    </ul>
  </div>
</div>
<br>
<div class="card">
  <h3 class="card-header"><%=link_to 'Chat-App Tutorial', '/tutorials/chat_app'%></h3>
  <div class="card-block">
    <p>This tutorial will teach you the basics of building a HyperReact application that runs purely in your browser with no need for any back end system (like Rails, Node or Sinatra).</p>
    <p>This work-along tutorial is an excellent place to start to learn the HyperReact DSL without needing to learn how to install it. If you have not used the HyperReact DSL before, this tutorial will <strong>get you going with minimal setup</strong>.</p>
  </div>
</div>
<br>
<div class="card">
  <h3 class="card-header"><%=link_to 'HyperReact and Rails Tutorial', '/tutorials/hyperreact_with_rails'%></h3>
  <div class="card-block">
    <p>A <strong>short tutorial</strong> which will show you how to add HyperReact to a Rails app and render a basic component. All you need to know to get started with HyperReact and Rails.</p>
    <p>The source of this tutorial is avaiable as a <%=link_to 'Quickstart', 'https://github.com/ruby-hyperloop/quickstart'%> which you can clone.</p>
  </div>
</div>
<br>
<div class="card">
  <h3 class="card-header"><%=link_to 'HyperReact, NPM and Webpack Tutorial', '/tutorials/hyperreact_with_webpack'%></h3>
  <div class="card-block">
    <p>In an Isomorphic Ruby world, we need a good way of including <strong>Ruby and JavaScript components</strong> so they co-exist and play nicely together.</p>
    <p>This tutorial will show you how to setup and use NPM and Webpack with HyperReact.</p>
    <p>The source of this tutorial is avaiable as a <%=link_to 'Quickstart', 'https://github.com/ruby-hyperloop/quickstart'%> which you can clone.</p>
  </div>
</div>
<br>
<div class="card">
  <h3 class="card-header"><%=link_to 'Flux Store Tutorial', '/tutorials/flux_store'%></h3>
  <div class="card-block">
    <p>This short tutorial will show you how to implement a Flux store pattern in Hyperloop. This is extremely useful when you have deeply nested components which need to communicate with each other.</p>
  </div>
</div>
