---
title: Tutorials, Videos & Quickstarts
---

## <span class="bigfirstletter">H</span>yperloop and Rails tutorials

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">H</span>elloWorld Tutorial](/tutorials/hyperlooprails/helloworld)

This simple tutorial will teach you the basic of using <%= componentslink %> within a Ruby On Rails environment. 

**Skills covered**: <%= componentslink %>, Opal syntax, <%= hyperloopgemlink %>

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">H</span>yperloop and Cloud9 setup](/tutorials/hyperlooprails/cloud9)

This simple tutorial will teach you how to setup quickly an Hyperloop workspace in Cloud9. 

**Skills covered**: <%= hyperloopgemlink %>

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">C</span>hat-App Tutorial](/tutorials/hyperlooprails/chatapp)

With this tutorial we'll be building a simple but realistic chat application, a basic version of a chat room offered by a service like gitter.im. It will teach how to play with <%= componentslink %>, <%= storeslink %> and <%= operationslink %> in a Ruby On Rails application. And you will see how the <%= pushnotificationslink %> functionnality is easy to use with Hyperloop.

**Skills covered**: <%= componentslink %>, <%= storeslink %>, <%= operationslink %>, <%= hyperloopgemlink %>, Opal syntax, <%= pushnotificationslink %>

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">N</span>PM and Webpack Tutorial](/tutorials/hyperlooprails/webpack)

In an Isomorphic Ruby world, we need a good way of including **Ruby and JavaScript components** so they co-exist and play nicely together.
This tutorial will show you how to setup and use NPM and Webpack with Hyperloop.

**Skills covered**: <%= hyperloopgemlink %>, NPM, Webpack

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">W</span>ebpacker GEM Tutorial](/tutorials/hyperlooprails/webpacker)

If you want to set up a Webpack environment co-existing with your Rails application, you can do it as well by installing the Webpacker GEM.
In this tutorial you learn how to install it and set up it with Hyperloop. 

**Skills covered**: <%= hyperloopgemlink %>, Webpacker GEM, Yarn, Webpack

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">E</span>vents planner Tutorial](/tutorials/hyperlooprails/eventsplanner)

In this tutorial we will implement a concrete example of an Events planner application: add, edit, delete events into an events database. 
And above all we will learn and see in action the amazing <%= isomodelsapilink %> functionnality.

**Skills covered**: <%= hyperloopgemlink %>, <%= componentslink %>, <%= isomodelsapilink %>, <%= pushnotificationslink %>, Webpacker GEM, Yarn, Webpack

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">F</span>ive letters game Tutorial](/tutorials/hyperlooprails/fivelettergame)

In this tutorial we will implement a simple game where 2 users can play synchroniously together. It will mostly showcasing the power of <%= operationslink %> and <%= pushnotificationslink %>

**Skills covered**: <%= hyperloopgemlink %>, <%= componentslink %>, <%= pushnotificationslink %>

##### <i class="flaticon-professor-teaching"></i> [<span class="bigfirstletter">O</span>pal Hot Reloader Tutorial](/tutorials/hyperlooprails/opalhotreloader)

Opal Hot Reloader is for pure programmer joy (not having to reload the page to compile your source) and the Opal Console is incredibly useful to test how Ruby code compiles to JavaScript.

We are also going to add the Foreman gem to run our Rails server and the Hot Reloader service for us.

**Skills covered**: Opal Hot Reloader GEM, Foreman GEM