<div class="gemsTable">
  <div class="divTable">
    <div class="divTableBody">

      <div class="divTableRow">
        <div class="divTableCell color0 thinborderright">
          Gem name
        </div>
        <div class="divTableCell color0 thinborderleft">
          Dependencies
        </div>
        
      </div>

      <div class="divTableRow">
        <div class="divTableCell color1 noborderright">
          Installation Gems
        </div>
        <div class="divTableCell color1 noborderleft">
          
        </div>
        
      </div>

      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperRails.png", width: '35'%></div><%= link_to 'hyper-rails', '#hyper-rails' , :class => 'rails-red' %>
        </div>
        <div class="divTableCell">
          
        </div>
        
      </div>


      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperloopExpress.png", width: '35'%></div><%= link_to 'hyperloop-express', '#hyperloop-express' , :class => 'express-yellow' %>
        </div>
        <div class="divTableCell">
          
        </div>
        
      </div>


      <div class="divTableRow">
        <div class="divTableCell color1 noborderright">
          Core Hyperloop Gems
        </div>
        <div class="divTableCell color1 noborderleft">
          
        </div>
        
      </div>


      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperComponents.png", width: '35'%></div><%= link_to 'hyper-component', '#hyper-component', :class => 'component-blue' %>
        </div>
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperStores.png", width: '35'%></div><%= link_to 'hyper-store', '#hyper-store', :class => 'store-green' %>
        </div>
      </div>

      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperStores.png", width: '35'%></div><%= link_to 'hyper-store', '#hyper-store', :class => 'store-green' %>
        </div>
        <div class="divTableCell">
          
        </div>
      </div>

      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperModels.png", width: '35'%></div><%= link_to 'hyper-model', '#hyper-model', :class => 'model-orange' %>
        </div>
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperOperations.png", width: '35'%></div><%= link_to 'hyper-operation', '#hyper-operation', :class => 'operation-purple' %>
          &nbsp;&nbsp;
          <div class="hyperlogoalone"><%= image_tag "HyperStores.png", width: '35'%></div><%= link_to 'hyper-store', '#hyper-store', :class => 'store-green' %>

        </div>
        
      </div>


      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperOperations.png", width: '35'%></div><%= link_to 'hyper-operation', '#hyper-operation', :class => 'operation-purple' %>
        </div>
        <div class="divTableCell">
          
        </div>
        
      </div>

      

      

      

      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperRouter.png", width: '35'%></div><%= link_to 'hyper-router', '#hyper-router', :class => 'router-blue' %>
        </div>
        <div class="divTableCell">
          
        </div>
        
      </div>


      <div class="divTableRow">
        <div class="divTableCell color1 noborderright">
          Tools, Testing and Debugging Gems
        </div>
        <div class="divTableCell color1 noborderleft">
          
        </div>
        
      </div>

      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperSpecs.png", width: '35'%></div>
          <%= link_to 'hyper-spec', '#hyper-spec', :class => 'spec-red' %>
        </div>
        <div class="divTableCell">
          
        </div>
        
      </div>

      <div class="divTableRow">
        <div class="divTableCell">
          <div class="hyperlogoalone"><%= image_tag "HyperTracer.png", width: '35'%></div>
          <%= link_to 'hyper-trace', '#hyper-trace', :class => 'tracer-green' %>
        </div>
        <div class="divTableCell">
          
        </div>
        
      </div>

  </div>
</div>