<footer class="nav-footer">
  <section class="sitemap">

    <%= link_to "", "/", class: "nav-home"%>

    <div>
      <h6><%= link_to "Start", "/start/components", class: "hyperloop-white"%></h6>
      <a href="/start/components">Components</a>
      <a href="/start/stores">Stores</a>
      <a href="/start/models">Models</a>
      <a href="/start/operations">Operations</a>
      <a href="/start/policies">Policies</a>
      <a href="/start/pragmatic">Pragmatic Thinking</a>
    </div>
    <div>


      <h6><%= link_to "Tutorials", "/tutorials", class: "hyperloop-white"%></h6>
      <a href="/tutorials/hyperloopcomps">Hyperloop COMPS</a>
      <a href="/tutorials/hyperloopjs">Hyperloop.js</a>
      <a href="/tutorials/hyperlooprails">Hyperloop and Rails</a>
      <a href="/tutorials/hyperloopdeploy">Hyperloop deployment</a>
      <a href="/tutorials/opal">Opal</a>
      <a href="/tutorials/videos">Videos</a>
    </div>
    <div>
      <h6><%= link_to "Installation", "/installation", class: "hyperloop-white"%></h6>
      <a href="/installation#opal-playground">Hyperloop.js</a>
  	  <a href="/installation#ror">With Ruby On Rails</a>
  	  <a href="/installation#with-sinatra">With Sinatra</a>
  	  <a href="/installation#deployment">Deployment</a>
    </div>
    <div>
      <h6><%= link_to "Gems", "/gems", class: "hyperloop-white"%></h6>
      <%= link_to 'hyperloop', 'https://github.com/ruby-hyperloop/hyperloop'%>
      <%= link_to 'hyperloop-js', 'https://github.com/ruby-hyperloop/hyperloop-js' %>
      <%= link_to 'hyper-component', 'https://github.com/ruby-hyperloop/hyper-react' %>
      <%= link_to 'hyper-store', 'https://github.com/ruby-hyperloop/hyper-store' %>
      <%= link_to 'hyper-model', 'https://github.com/ruby-hyperloop/hyper-mesh' %>
      <%= link_to 'hyper-operation', 'https://github.com/ruby-hyperloop/hyper-operation' %>
      <%= link_to 'hyper-router', 'https://github.com/ruby-hyperloop/reactrb-router/tree/v2-4-0' %>
      <%= link_to 'hyper-spec', 'https://github.com/ruby-hyperloop/hyper-spec' %>
      <%= link_to 'hyper-trace', 'https://github.com/ruby-hyperloop/hyper-trace' %>
    </div>
    <div>
      <h6><%= link_to "Tools", "/tools", class: "hyperloop-white"%></h6>
      <a href="#testing">Testing</a>
    	<a href="#tools">Tools</a>
    	<a href="#debugging">Debugging</a>
    </div>
    <div>
      <h6><%= link_to "Docs", "/docs/architecture", class: "hyperloop-white"%></h6>
      <a href="/docs/architecture">Architecture</a>
      <a href="/docs/components/dsl-overview">Components</a>
      <a href="/docs/stores/overview">Stores</a>
      <a href="/docs/models/overview">Models</a>
      <a href="/docs/operations/docs">Operations</a>
      <a href="/docs/policies/authorization">Policies</a>
    </div>

  </section>

  <section class="otherlinks">
    <%= link_to "Github", "https://github.com/ruby-hyperloop", class: "hyperloop-white"%>
    <%= link_to "Help", "/support", class: "hyperloop-white"%>
    <%= link_to "Blog", "/blog", class: "hyperloop-white"%>
    <%= link_to "Showcase", "/showcase", class: "hyperloop-white"%>
  </section>

  <section class="copyright">
    Copyright © 2017 Hyperloop.
  </section>
</footer>
