<nav class="navbar navbar-ligh">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>H</span>yperloop", "/", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>S</span>tart", "/start/components", class: "nav-link active"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>I</span>nstallation", "/installation", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>T</span>utorials", "/tutorials", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>G</span>ems", "/gems", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>G</span>ithub", "https://github.com/ruby-hyperloop", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>T</span>ools", "/tools", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>D</span>ocs", "/docs/architecture", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>H</span>elp", "/help", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>B</span>log", "/blog", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "<span class='navfirstletter'>S</span>howcase", "/showcase", class: "nav-link"%>
      </li>
      <!-- <li class="nav-item">
        <%= text_field_tag 'search' %>
      </li> -->
    </ul>
  </div>
</nav>
