<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="google-site-verification" content="qjqVOvRhHfsuDbLOvaAnj2mkUZJ9Xwzg84TMVXduvUc" />

    <meta charset="UTF-8">
    <title>Hyperloop<%= ' - ' + current_page.data.title unless current_page.data.nil? %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'stylesheet' %>
    <%= stylesheet_link_tag 'github-light' %> -->

    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <%= stylesheet_link_tag 'override.css' %>
    <%= stylesheet_link_tag 'code.css' %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>
    <div class="container">
      <%= partial "navigation"%>
    </div>

    <div class="jumbotron page-header">
      <div class="container">
        <div class="row hidden-xs-down">
          <div class="col-md-3 center-text">
            <%= image_tag "hyperloop_white.svg", width: '180' %>
          </div>
          <div class="col-md-9">
            <h1 class="display-4 project-name">Hyperloop</h1>
            </br>
            <h2 class="display-7 project-tagline">
              <%=
              current_page.data.title ? current_page.data.title.upcase : "THE MISSING RUBY FRONT-END LIBRARY"
              %>
            </h2>
          </div>
        </div>
        <div class="row hidden-sm-up">
          <div class="col-md-3 center-text">
            <%= image_tag "hyperloop_white.svg", width: '120' %>
          </div>
          <div class="col-md-9">
            <h1 class="h1 project-name center-text">Hyperloop</h1>
            </br>
            <h2 class="h4 project-tagline center-text">
              <%=
              current_page.data.title ? current_page.data.title.upcase : "THE MISSING RUBY FRONT-END LIBRARY"
              %>
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= partial "_sidenav" %>
          <br>
        </div>
        <div class="col-md-9 main-content">
          <%= yield %>
        </div>
      </div>
    </div>


    <script   src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <%= javascript_include_tag 'bootstrap.min.js' %>

  </body>
</html>
