<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="qjqVOvRhHfsuDbLOvaAnj2mkUZJ9Xwzg84TMVXduvUc" />

    <meta charset="UTF-8">
    <title>Hyperloop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'stylesheet' %>
    <%= stylesheet_link_tag 'github-light' %>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>
      <section class="page-header">
        <h1 class="project-name">
          <%= link_to "Looking for Reactrb.org?", "/", class: "btn-logo"%>
        </h1>
      </br>
        <%= link_to "Get Started", "/get_started", class: "btn" %>
        <%= link_to "Tutorials", "/tutorials/chat_app", class: "btn"%>
        <%= link_to "Installation", "/installation", class: "btn"%>
        <%= link_to "Gems", "/gems", class: "btn"%>
        <%= link_to "Github", "https://github.com/reactrb", class: "btn"%>
        <%= link_to "Tooling", "/tools", class: "btn"%>
        <%= link_to "Docs", "/docs/dsl_overview", class: "btn"%>
        <%= link_to "Support", "/support", class: "btn"%>
        <%= link_to "Blog", "/blog", class: "btn"%>
      </section>

      <section class="main-content">
        <h1>Reactrb is now a part of Ruby Hyperloop</h1>
        <p>
          Reactrb has evolved and become a part of a collection of technologies called Ruby Hyperloop.
        </p>
        <p>
          Follow one of the links above to proceed to the new site. <b>Welcome to Hyperloop!</b>
        </p>
        <%= partial "index"%>
      </section>

  </body>
</html>
