<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="qjqVOvRhHfsuDbLOvaAnj2mkUZJ9Xwzg84TMVXduvUc" />

    <meta charset="UTF-8">
    <title>Hyperloop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'normalize' %>
    <%= stylesheet_link_tag 'stylesheet' %>
    <%= stylesheet_link_tag 'github-light' %>

  </head>

  <body>
      <section class="page-header">
        <h1 class="project-name">
          <%= link_to "Looking for Reactrb.org?", "/", class: "btn-logo"%>
        </h1>
      </br>
        <%= link_to "Get Started", "/get_started", class: "btn" %>
        <%= link_to "Tutorial", "/tutorial", class: "btn"%>
        <%= link_to "Installation", "/installation", class: "btn"%>
        <%= link_to "Gems", "/gems", class: "btn"%>
        <%= link_to "Github", "https://github.com/reactrb", class: "btn"%>
        <%= link_to "Tooling", "/tools", class: "btn"%>
        <%= link_to "Docs", "/docs/dsl_overview", class: "btn"%>
        <%= link_to "Support", "/support", class: "btn"%>
        <%= link_to "Blog", "/blog", class: "btn"%>
      </section>

      <section class="main-content">

        <h1>Reactrb is now a part of Ruby Hyperloop</h1>
        <p>
          Reactrb has evolved and become a part of a collection of technologies called Ruby Hyperloop.
        </p>
        <p>
          Follow one of the links above to proceed to the new site.
        </p>


      </section>

  </body>
</html>
